/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 img {
          display: block;
          height: auto;
          max-width: 100%;
   }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 2% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#barStockF {
    background-image:  url("../images/barStockE.jpg");
    background-size: 100%;
    position:relative;
}

.cover_filter {
    /*background-image:  url("../img/barStockE.jpg");*/
    background-size: 100%;
    float:left;
    width:12%;
    opacity: 0;
}

#cb21f{
    width:12.56%;
}

#cb22f{
     width: 9.36%;
}

#cb23f{
    width: 11.92%
}

#cb24f{
    width: 8.64%;
}

#cb25f{
    width: 16.72%;
}

#cb26f{
    width: 9.36%;
}

#cb27f{
    width: 10.16%;
}

#cb28f{
    width: 9.84%;
}

#cb29f{
    width: 11.44%;
}


#cb30f{
      width: 15.6%;

}

#cb31f{
    width: 11.44%;

}

#cb32f{
      width: 9.2%;

}

#cb33f{
      width: 9.84%;

}

#cb34f{
    width: 10.8%;
}

#cb35f{
      width: 10.8%;

}

#cb36f{
      width: 11.76%;
}

#cb37f{
    width: 9.12%;
}

#cb38f{
    width: 11.44%;
}


/* ==========================================================================
    List Style
   ========================================================================== */


.ac-custom {
    max-width: 900px;
    margin: 0 auto;
}

.ac-custom h2 {
    font-size: 3em;
    font-weight: 300;
    padding: 0 0 0.5em;
    margin: 0 0 15px;
}

.ac-custom ul,
.ac-custom ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.ac-custom li {
    margin: 0 auto;
    position: relative;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}

.ac-custom label::before {
    content: '';
    border: 4px solid #fff;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ac-radio label::before {
    border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
    color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
    opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: 5px;
    pointer-events: none;
}

.ac-custom svg path {
    stroke: #0610E0;
    stroke-width: 13px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    left: 10px;
    position: absolute;
}

.ac-circle label::before {
    background-color: #fff;
    border: none;
}

.ac-circle svg {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    left: -10px;
}

.ac-circle svg path {
    stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
    stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
    stroke-width: 8px;
}

/* List */
.ac-list ol {
    list-style: decimal;
    list-style-position: inside;
}

.ac-list ol li {
    font-size: 1em;
    padding: 0.5em 1em 0 2em;
    text-indent: -40px;
}

.ac-list ol li label {
    font-size: 1em;
    text-indent: 0;
    padding-left: 30px;
}

.ac-list label::before {
    display: none;
}

.ac-list svg {
    width: 100%;
    height: 80px;
    left: 0;
    top: 0.5em;
    margin-top: 0px;
}

.ac-list svg path {
    stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
    section {
        font-size: 80%;
    }
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1140px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}